.form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-color: #E8F6F0;
    border: 1px solid #49CC90;
    border-radius: 15px;
}

.form__wrapper {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.form__input {
    width: 300px;
    display: block;
    padding: 5px;
    outline: none;
    background-color: #E8F6F0;
}

.form__input-box {
    margin-top: 10px;
    border: 1px solid #0D1117;
}

.form__btn {
    display: block;
    color: #49CC90;
    width: 225px;
    border-radius: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    background-color: #E8F6F0;
    border-color: #49CC90;
    transition: 1s;
}

.form__btn:hover {
    background-color: #49CC90;
    border-color: #E8F6F0;
    color: #E8F6F0;
}

.form__btn-exit {
    position: absolute;
    right:  10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1.5px solid #49CC90;
    z-index: 3;
    border-radius: 50%;
}

.form__btn-exit::before {
    content: '';
    width: 85%;
    height: 1.5px;
    background-color: #49CC90;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.form__btn-exit::after {
    content: '';
    width: 85%;
    height: 1.5px;
    background-color: #49CC90;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}