.form {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-color: #61b0fe;
    border-radius: 20px;
    border: 2.5px solid #0D1117;
}

.form__input {
    width: 300px;
    display: block;
    padding: 5px;
    outline: none;
    background-color: #B2D9FF;
}

.form__input-box {
    margin-top: 10px;
    border: 1px solid #0D1117;
}

.form__btn {
    display: block;
    color: #0D1117;
    width: 225px;
    border-radius: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
    background-color: #B2D9FF;
    transition: 1s;
}

.form__btn:hover {
    background-color: #61B0FE;
    color: #FAFAFA;
    outline: none;
}

.form__text {
    margin-bottom: -12px;
}

.error__text {
    color: red;
}

.error__box {
    height: 21px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: -3px;
}